<p style="font-size: 30px;color: black;text-align:center;font-weight: bold">Order Details</p>
<hr>
<table>
    
    <tr>
        <th>Customer ID</th>
        <th>Order Id</th>
        <th>Order Name</th>
        <th>From</th>
        <th>To</th>
        <th>Quantity</th>
        <th>Date</th>
        <th>Approved</th>
        <th>BarCode</th>         
    </tr>
    <tr>
        <td>{{ currentOrder.mobileNo }}</td>
        <td>{{ currentOrder.order_id }}</td>
        <td>{{ currentOrder.order_name }}</td>
        <td>{{ currentOrder.from }}</td>
        <td>{{ currentOrder.to }}</td>
        <td>{{ currentOrder.quantity }}</td>
        <td>{{ currentOrder.date }}</td>
        <td>{{ currentOrder.approval }}</td>
        <td >
            <div *ngIf="currentOrder.approval == 'Accepted'">
            <ngx-barcode [bc-value]="currentOrder.order_id" [bc-display-value]="true"  [bc-format]="CODE128"></ngx-barcode>
            <ng-template #elseBlock></ng-template>
            </div>
        </td>
    </tr>
</table>