table
{
    border: solid black 3px;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=100);
    text-align: center;
    
}
tr,td,th
{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
      
}
td,th
{
    width: 15%;
}
th
{
    font-size: 25px;
}
td
{
    font-size: 20px;
}