<legend style="font-size: 35px;text-align: center">Enter Employee Details</legend>

    
  <form  [formGroup]="addEmpForm"  (ngSubmit)="onSubmit(addEmpForm.value)"  >
    <table  class="main" >
      <tr >
        <td >Employee ID(MobileNo) :</td> <td > <input type="number" name="id"  formControlName="id" ></td>
      </tr>
      
      <tr>
          <td>
            <div *ngIf=" submitted && f.id.errors " >
              <div *ngIf="f.id.errors.required" id="err" >Please enter ID </div>
            </div>
          </td>
      </tr>
      
      <tr>        
        <td > Name :</td> <td> <input type="text" name="name"  formControlName="name" ></td>
      </tr>
      
        <tr>
            <td>
              <div *ngIf=" submitted && f.name.errors">
                <div *ngIf="f.name.errors.required" id="err"> Please enter Name  </div>
                <div *ngIf="f.name.errors.minlength" id="err">minimum 6 letters </div>
                <div *ngIf="f.name.errors.maxlength" id="err">maximum 20 letters </div> 
              </div>
            </td>
        </tr>
       
      <tr>  
        <td>Age :</td><td> <input type="number" name="age" formControlName="age" ></td>
      </tr>
      
      <tr>
            <td>
              <div *ngIf=" submitted && f.age.errors">
                <div *ngIf="f.age.errors.required" id="err">Please enter age </div>
                <div *ngIf="f.age.errors.ageVal" id="err">age should be between 18 to 52 </div>
              </div>
            </td>
      </tr>
       
      <tr>  
        <td> Password :</td><td> <input type="password" name="password" formControlName="password"  ></td>
      </tr>
      
      <tr>
          <td>
              <div *ngIf=" submitted && f.password.errors">
                <div *ngIf="f.password.errors.required" id="err">Please enter password </div>
                <div *ngIf="f.password.errors.minlength" id="err">min 8 letters </div>
              </div>
          </td>
      </tr>
       
      <tr>
        <td>Confirm Password :</td><td> <input  type="password" name="cpassword" formControlName="cpassword" ></td>
      </tr>
      
      <tr>
         <td>
              <div *ngIf=" submitted && f.cpassword.errors">
                <div *ngIf="f.cpassword.errors.required" id="err">Cant be empty </div>
                <div *ngIf="f.cpassword.errors.minlength" id="err">min 8 letters </div>
                <div *ngIf="f.cpassword.errors.noMatch" id="err">Password doesnt match</div>
              </div>
        </td>  
          
      </tr>
      <tr>      
        <td>E-Mail :</td><td> <input type="text" name="email"  formControlName="email" ></td>
      </tr>
      
      <tr>
          <td>
              <div *ngIf=" submitted && f.email.errors">
                <div *ngIf="f.email.errors.required" id="err">Please enter mailId</div>
                <div *ngIf="f.email.errors.email" id="err">Not a valid email</div>
              </div>
         </td>
      </tr>
         
      <tr> 
        <td>Address :</td><td> <input type="text" name="address"  formControlName="address" ></td>
      </tr>
      
      <tr>
          <td>
              <div *ngIf=" submitted && f.address.errors">
                <div *ngIf="f.address.errors.required" id="err">Cant Be empty</div>
              </div>
         </td>
      </tr>
      <br><br>
      <tr>
        <td><input type="submit" value="Add Employee" style="width:100%; margin-left: 120px;" ></td>
      </tr>  
    </table>
  </form>
 
