<div class="mainContainer">
    <button id="c1" (click)="changeValue(true)">Login</button>
    <button id="c1" (click)="changeValue(false)">SignUp</button>
   
      <div *ngIf="disp">

          <form [formGroup]="login" (ngSubmit)="onSubmit(login.value)">
              <br>
              <label  for="type"><b style="font-size: 25px;">Login As</b></label><br>
              <input  type="radio"  value="admin"  formControlName="loginType"> <b id="labels">Admin</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input  type="radio"  value="user" formControlName="loginType"> <b id="labels">User</b>
              <div *ngIf=" submitted && f.loginType.errors " >
                <div *ngIf="f.loginType.errors.required" ><p style="color: red">Select type</p></div>
              </div>
              <br><br>

              <label  for="cno"><b id="labels">User ID</b></label><br>
              <input  type="number"  name="cId" placeholder="Registered Number......" formControlName="cId"/>
              <div *ngIf=" submitted && f.cId.errors " >
                <div *ngIf="f.cId.errors.required" ><p style="color: red">Enter Id</p> </div>
              </div>
              <br><br>

              <label  for="pass"><b id="labels">Password</b></label><br>
              <input  type="password"  name="pass" placeholder="Password......" formControlName="pass"/>
              <div *ngIf=" submitted && f.cId.errors " >
                <div *ngIf="f.cId.errors.required" ><p style="color: red">Enter password</p></div>
              </div>
              <br><br>
            
              <input id="submit" type="submit" value="Submit"/>

          </form>

      </div>



      <div *ngIf="disp1">

          <form [formGroup]="signUp" (ngSubmit)="onSubmit(signUp.value)">
      
              <label  for="fname"><b id="labels">First Name</b></label><br>
              <input  type="text"  name="fname" placeholder="First Name......" formControlName="fname"/><br><br>
        
              <label  for="lname"><b id="labels">Last Name</b></label><br>
              <input  type="text"  name="lname" placeholder="Last Name......" formControlName="lname"/><br><br>

              <label  for="cno"><b id="labels">User ID</b></label><br>
              <input  type="number"  name="cId" placeholder="Phone Number......" formControlName="cId"/><br><br>

              <label  for="pass"><b id="labels">Password</b></label><br>
              <input  type="password"  name="pass" placeholder="Password......" formControlName="pass"/><br><br>

              <label  for="cpass"><b id="labels">Confirm Password</b></label><br>
              <input  type="password"  name="cpass" placeholder="Confirm Password......" formControlName="cpass"/><br><br>
              <br>

              <input id="submit" type="submit" value="Submit"/>

          </form>

      </div>

</div>
       
