<div>
  <b style="font-size: 60px;color: yellow">Ship Fast</b><br>
  <b style="font-size: 18px;color: greenyellow">Fastest way to ship your item...</b>
</div>
<div class="mainContainer">
    <button id="c1" (click)="changeValue(true)">Login</button>
    <button id="c1" (click)="changeValue(false)">SignUp</button>
   
      <div *ngIf="disp">

            <form [formGroup]="login" (ngSubmit)="onLoginSubmit(login.value)">
                <br>
                <label  for="type"><b style="font-size: 25px;">Login As</b></label><br><br>
                <input  type="radio"  value="admin"  formControlName="loginType"> <b id="labels">Admin</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input  type="radio"  value="user" formControlName="loginType"> <b id="labels">User</b>
                    <div *ngIf="loginSubmit && loginPush.loginType.errors" >
                      <div *ngIf="loginPush.loginType.errors.required" ><b style="color: red">Select type</b></div>
                    </div><br><br>

                <label  for="cno"><b id="labels">User ID</b></label><br>
                <input  type="number"  name="cId" placeholder="Registered Number......" formControlName="cId"/>
                    <div *ngIf="loginSubmit && loginPush.cId.errors" >
                      <div *ngIf="loginPush.cId.errors.required" ><b style="color: red">Enter Id</b> </div>
                    </div><br><br>

                <label  for="pass"><b id="labels">Password</b></label><br>
                <input  type="password"  name="pass" placeholder="Password......" formControlName="pass"/>
                    <div *ngIf="loginSubmit && loginPush.pass.errors" >
                      <div *ngIf="loginPush.pass.errors.required" ><b style="color: red">Enter password</b></div>
                    </div><br><br>

              

                <a routerLink="adminHome" > <input id="submit" type="submit" value="Login"/></a>

            </form>

      </div>



      <div *ngIf="disp1">

          <form [formGroup]="signUp" (ngSubmit)="onSignUpSubmit(signUp.value)">
              <br>
              <label  for="fname"><b id="labels">First Name</b></label><br>
              <input  type="text"  name="fname" placeholder="First Name......" formControlName="fname"/>
                  <div *ngIf="signUpPush.fname.errors" >
                    <div *ngIf="signUpPush.fname.errors.pattern" ><b style="color: red">Alphabet Only</b></div>
                  </div>

                  <div *ngIf="signUpSubmit && signUpPush.fname.errors" >
                    <div *ngIf="signUpPush.fname.errors.required" ><b style="color: red">Enter First Name</b></div>
                  </div><br>
        
              <label  for="lname"><b id="labels">Last Name</b></label><br>
              <input  type="text"  name="lname" placeholder="Last Name......" formControlName="lname"/>
                  <div *ngIf="signUpPush.lname.errors" >
                    <div *ngIf="signUpPush.lname.errors.pattern" ><b style="color: red">Alphabet Only</b></div>
                  </div>

                  <div *ngIf="signUpSubmit && signUpPush.lname.errors" >
                    <div *ngIf="signUpPush.lname.errors.required" ><b style="color: red">Enter Last Name</b></div>
                  </div><br>

              <label  for="cno"><b id="labels">User ID</b></label><br>
              <input  type="number"  name="cId" placeholder="Contact Number......" formControlName="cId"/>
                  <div *ngIf="signUpPush.cId.errors" >
                    <div *ngIf="signUpPush.cId.errors.pattern" ><b style="color: red">Invalid Contact Number</b></div>
                  </div>

                  <div *ngIf="signUpSubmit && signUpPush.cId.errors" >
                    <div *ngIf="signUpPush.cId.errors.required" ><b style="color: red">Enter Your Id</b></div>
                  </div><br>

              <label  for="pass"><b id="labels">Password</b></label><br>
              <input  type="password"  name="pass" placeholder="Password......" formControlName="pass"/>
                  <div *ngIf="signUpPush.pass.errors" >
                    <div *ngIf="signUpPush.pass.errors.minlength" ><b style="color: red">Password must be greater than 6 characters</b></div>
                  </div>

                  <div *ngIf="signUpPush.pass.errors" >
                    <div *ngIf="signUpPush.pass.errors.pattern" ><b style="color: red">Password must be alphaNumeric with one special character(@ or _) eg.(User@123)</b></div>
                  </div>

                  <div *ngIf="signUpSubmit && signUpPush.pass.errors" >
                    <div *ngIf="signUpPush.pass.errors.required" ><b style="color: red">Enter Password</b></div>
                  </div><br>

              <label  for="cpass"><b id="labels">Confirm Password</b></label><br>
              <input  type="password"  name="cpass" placeholder="Confirm Password......" formControlName="cpass"/>
                  <div *ngIf="signUpSubmit && signUpPush.cpass.errors" >
                    <div *ngIf="signUpPush.cpass.errors.required" ><b style="color: red">Confirm Your Password</b></div>
                  </div>
                  <div *ngIf="signUpSubmit && signUpPush.cpass.errors" >
                    <div *ngIf="signUpPush.cpass.errors.noMatch" ><b style="color: red">Password Mismatch</b></div>
                  </div><br><br><br>

              <input id="submit" type="submit" value="Submit"/>

          </form>

      </div>

</div>
       
