<h1 style="font-size: 40px; text-align: center">Your Details</h1>
<hr>
<div class="layout">
  <table style="float: left;">
    <tr>
      <td id="heading">Full Name</td>
      <td> {{ emp.name }} </td>
      <td rowspan="5" style="width: 60%;">
        <div id="logo"></div>
        <br>
        <p id="tagline">Son Goku Welcomes you Admin</p>
      </td>
    </tr>
    <tr>
      <td id="heading">User Id</td>
      <td> {{ emp.mobileNo }} </td>
    </tr>
    <tr>
      <td id="heading">Age</td>
      <td> {{ emp.age }} </td>
    </tr>
    <tr>
      <td id="heading">E-Mail</td>
      <td> {{ emp.email }} </td>
    </tr>
    <tr>
      <td id="heading">Address</td>
      <td> {{ emp.address }} </td>
    </tr>
  </table>

</div>