<p style="font-size: 30px;text-align: center">My Orders</p>
<hr>
<table class="darkTable">
<thead>
<tr>
<th>S.no</th>
<th>Order Id</th>
<th>Order Name</th>
<th>Quantity</th>
<th>Approval</th>
<th>More Detail<th>
</tr>
</thead>
<tbody>
<tr *ngFor="let detail of orderDetails">
<td>{{detail.no}}</td><td>{{detail.orderId}}</td><td>{{detail.orderName}}</td><td>{{detail.quantity}}</td><td>{{detail.approval}}</td><td ><button (click)="orderDetail(detail.orderId)"  class="btn btn-outline-primary" id="t1">Click Here</button></td>
</tr>
</tbody>
</table>
