body
{
    font-family: Arial, Helvetica, sans-serif;
    
}

.mainContainer
{
        margin-top: 2%;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.8;
        filter: alpha(opacity=100);
       text-align: center;
       margin-left: 30%;
       margin-right: 30%;
       border-radius: 5px;
    
}
table
{
    
     margin:auto;
     text-align: left;
     border: solid black 2px;
}

input[type=number], input[type=password],input[type=text] 
{
    width: 500px;
    padding: 8px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;

}


input[type='radio'] 
{ 
    transform: scale(1.5); 
  
    
}



#submit
 {
     background-color: #4CAF50;
     border-radius: 4px;
     color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 18px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 500px;
}
#submit:hover
{
    background-color:limegreen;  
}

#c1 
{
    background-color:lightskyblue;
    color: black;
    font-size: 20px;
     
    padding: 12px 18px;
     height: 50px;
    border: none;
    cursor: pointer;
    width: 370px;
    border-radius: 4px;
   
    
}
#c1:hover
{
    background-color:lightseagreen;
}
#c2{
    background-color:lightskyblue;
    color: black;
    font-size: 20px;
     
    padding: 12px 18px;
    height: 50px;
    border: none;
    cursor: pointer;
    width: 370px;
    border-radius: 4px;
   
}

#c2:hover{
    background-color:lightseagreen;
}

#labels1
{
    font-size: 20px;
    margin-right: 100px;
     
}
#labels{
    font-size: 20px;
}
#labels2
{
    font-size: 20px;
     
}

#f1{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=100);
    width: 40%;
    margin-left: 30%;
    text-align: center;
    border-radius: 7px;
    margin-top: 10px;

}
#l1{
    margin-right: 200px;
}
#c3{
   
   border:solid black 1px ;
   color: white; 
   background-color: grey; 
   font-size: 40px;
   padding: 0px 15px 0px 15px;
   float: left;
}
#captcha
{
    width: 100px;
    height: 50px;
    margin-right: 20%;
   
    
}
#captchaDiv{
   
}


#logo{
    font-family: 'Faster One', cursive,bold;
    font-size: 55px;
    color: tomato
   }

#x1{
    font-family: 'Leckerli One', cursive;
    font-size: 60px;
   
    color: #3E4551
}
#x2{
    font-family: 'Leckerli One', cursive;
    font-size: 50px;
     color: #3E4551
     
}
#refresh{
    float: left;;
    margin-left: 20%;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    background-color: aqua;
    margin-right: 10%;
    
    
}


