<link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span id="x1"> Welcome to<span id="logo"> Ship Fast </span> <br></span>
<span id="x2">Top rated courier services in the town</span>
<br><br>

<div style="text-align: center">
  <button id="c1" (click)="changeValue(true)">LOGIN</button>
  <button id="c2" (click)="changeValue(false)">SIGN UP</button>

  <div *ngIf="disp">

    <form [formGroup]="login" (ngSubmit)="onLoginSubmit(login.value)">
      <br>
      <table id="f1">
        <br>

        <tr><label id="l1" for="type"><b style="font-size: 25px;margin-left: 200px">Login As</b></label><br><br></tr>
        <tr>
          <td><input id="r1" type="radio" name="loginType" value="admin" formControlName="loginType"> <b
              id="labels1">Admin</b>
            <input id="r2" type="radio" value="user" name="loginType" formControlName="loginType"> <b
              id="labels2">User</b></td>
          <td>
            <div *ngIf="loginSubmit && loginPush.loginType.errors">
              <div *ngIf="loginPush.loginType.errors.required"><b style="color: red">*Select type</b></div>
            </div>
          </td><br><br><br>
        </tr>

        <tr><label for="cno"><b id="labels">User ID</b></label><br></tr>
        <tr>
          <td><input type="number" name="cId" placeholder="Registered Number......" formControlName="cId" /></td>
          <td>
            <div *ngIf="loginSubmit && loginPush.cId.errors">
              <div *ngIf="loginPush.cId.errors.required"><b style="color: red">*Enter Id</b> </div>
            </div>
          </td><br><br><br>
        </tr>


        <tr><label for="pass"><b id="labels">Password</b></label><br></tr>
        <tr>
          <td><input type="password" name="pass" placeholder="Password......" formControlName="pass" /></td>
          <td>
            <div *ngIf="loginSubmit && loginPush.pass.errors">
              <div *ngIf="loginPush.pass.errors.required"><b style="color: red">*Enter password</b></div>
            </div>
          </td><br><br><br>
        </tr>



        <tr><label for="type" id="labels"><b>Enter Captcha</b></label><br><br></tr>
        <tr>
          <td>
            <span>
              <button  id="refresh" (click)="call()"><i class="fa fa-refresh"></i></button>
              
            </span>

            <span id="captchaDiv" *ngIf="captchaVal"><b id="c3">{{seq}}</b> </span>

           <span>  <input type="text"   formControlName="captchaValue" id="captcha" /></span> 
          </td>
        
         
          <td>
            <div *ngIf="loginSubmit && loginPush.captchaValue.errors">
              <div *ngIf="loginPush.captchaValue.errors.misMatch"><b style="color: red">*captcha mismatch</b></div>
            </div>
          </td>
        </tr>
      
              
        <br>
        


        <input id="submit" type="submit" value="Login" />
      </table>
    </form>

  </div>




  <div *ngIf="disp1">

    <form [formGroup]="signUp" (ngSubmit)="onSignUpSubmit(signUp.value)">
      <br>
      <table id="f1">
        <tr><label for="name"><b id="labels">Full Name</b></label></tr>
        <tr>
          <td><input type="text" name="name" placeholder="Your Full Name......" formControlName="name" /></td>
          <td>
            <div id="errors" *ngIf="signUpPush.name.errors">
              <div *ngIf="signUpPush.name.errors.pattern"><b style="color: red">*Alphabet Only</b></div>
            </div>

            <div id="errors" *ngIf="signUpSubmit && signUpPush.name.errors">
              <div *ngIf="signUpPush.name.errors.required"><b style="color: red">*Enter Full Name</b></div>
            </div>
          </td><br><br><br>
        </tr>


        <tr><label for="email"><b id="labels">Email id</b></label></tr>
        <tr>
          <td><input type="text" name="email" placeholder="Your email id......" formControlName="email" /></td>
          <td>
            <div id="errors" *ngIf="signUpPush.email.errors">
              <div *ngIf="signUpPush.email.errors.email"><b style="color: red">*invalid email type</b></div>
            </div>

            <div id="errors" *ngIf="signUpSubmit && signUpPush.email.errors">
              <div *ngIf="signUpPush.email.errors.required"><b style="color: red">*Enter email id</b></div>
            </div>
          </td><br><br><br>
        </tr>


        <tr><label for="cno"><b id="labels">User ID</b></label><br></tr>
        <tr>
          <td><input type="number" name="cId" placeholder="Contact Number......" formControlName="cId" /></td>
          <td>
            <div id="errors" *ngIf="signUpPush.cId.errors">
              <div *ngIf="signUpPush.cId.errors.pattern"><b style="color: red">*Invalid Contact Number</b></div>
            </div>

            <div id="errors" *ngIf="signUpSubmit && signUpPush.cId.errors">
              <div *ngIf="signUpPush.cId.errors.required"><b style="color: red">*Enter Your Id</b></div>
            </div>
          </td><br><br><br>
        </tr>


        <tr><label for="age"><b id="labels">Age</b></label><br></tr>
        <tr>
          <td><input type="number" name="age" placeholder="Your age......" formControlName="age" /></td>
          <td>
            <div id="errors" *ngIf="signUpSubmit && signUpPush.age.errors">
              <div *ngIf="signUpPush.age.errors.required"><b style="color: red">*Enter Your age</b></div>
              <div *ngIf="signUpPush.age.errors.ageVal"><b style="color: red">Age should be between 18 to 52 </b></div>
            </div>
          </td><br><br><br>
        </tr>


        <tr><label for="address"><b id="labels">Address</b></label><br></tr>
        <tr>
          <td><input type="text" name="address" placeholder="Your complete address......" formControlName="address" />
          </td>
          <td>
            <div id="errors" *ngIf="signUpSubmit && signUpPush.address.errors">
              <div *ngIf="signUpPush.address.errors.required"><b style="color: red">*Enter Your Address</b></div>
            </div>
          </td><br><br><br>
        </tr>


        <tr><label for="pass"><b id="labels">Password</b></label><br></tr>
        <tr>
          <td><input type="password" name="pass" placeholder="Password......" formControlName="pass" /></td>
          <td>
            <div id="errors" *ngIf="signUpPush.pass.errors">
              <div *ngIf="signUpPush.pass.errors.minlength"><b style="color: red">*must be greater than 6 characters</b>
              </div>
            </div>

            <div id="errors" *ngIf="signUpPush.pass.errors">
              <div *ngIf="signUpPush.pass.errors.pattern"><b style="color: red">*use alphanumeric and (@ or _)
                  eg.(User@123)</b></div>
            </div>

            <div id="errors" *ngIf="signUpSubmit && signUpPush.pass.errors">
              <div *ngIf="signUpPush.pass.errors.required"><b style="color: red">*Enter Password</b></div>
            </div>
          </td><br><br><br>
        </tr>


        <tr><label for="cpass"><b id="labels">Confirm Password</b></label><br></tr>
        <tr>
          <td><input type="password" name="cpass" placeholder="Confirm Password......" formControlName="cpass" /></td>
          <td>
            <div id="errors" *ngIf="signUpSubmit && signUpPush.cpass.errors">
              <div *ngIf="signUpPush.cpass.errors.required"><b style="color: red">*Confirm Your Password</b></div>
            </div>
            <div id="errors" *ngIf="signUpSubmit && signUpPush.cpass.errors">
              <div *ngIf="signUpPush.cpass.errors.noMatch"><b style="color: red">*Password Mismatch</b></div>
            </div>
          </td><br><br><br>
        </tr>


        <input id="submit" type="submit" value="Submit" />
      </table>
    </form>

  </div>

</div>

<app-footer></app-footer>