body
{
    font-family: Arial, Helvetica, sans-serif;
    
}

.mainContainer
{
        margin-top: 2%;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.8;
        filter: alpha(opacity=100);
       text-align: center;
       margin-left: 30%;
       margin-right: 30%;
       border-radius: 5px;
    
}
table
{
    
     margin:auto;
     text-align: left;
}

input[type=number], input[type=password],input[type=text] 
{
    width: 500px;
    padding: 8px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;

}

input[type='radio'] 
{ 
    transform: scale(1.5); 
}

#submit
 {
     background-color: #4CAF50;
     border-radius: 4px;
     color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 18px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 500px;
}
#submit:hover
{
    background-color:limegreen;  
}

#c1 
{
    background-color:lightskyblue;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 250px;
    border-radius: 4px;
}
#c1:hover
{
    background-color:lightseagreen;
}

#labels
{
    font-size: 20px;
     
}
#captcha
{
    width: 100px;
    height: 40px;
    margin-left: 100px;
}

