<h1 style="font-size: 40px;font-weight: bold;text-align: center">Your Details</h1>
<hr>
<div class="layout">
<table *ngFor= "let emp of emp">
  <tr>
    <td id="heading">Full Name</td><td> {{ emp.name }} </td>
  </tr>
  <tr>  
    <td id="heading">User Id</td><td> {{ emp.mobileNo }} </td>
  </tr>
  <tr>  
    <td id="heading">Age</td><td> {{ emp.age }} </td>
  </tr>
  <tr>  
    <td id="heading">E-Mail</td><td> {{ emp.email }} </td>
  </tr>
  <tr> 
    <td id="heading">Address</td><td> {{ emp.address }} </td>
  </tr>
</table>
</div>