<h1 style="font-size: 40px;font-weight: bold;text-align: center">Your Details</h1>
<hr>
<div class="layout">
<table style="float:left" >
  <tr>
    <td id="heading">Full Name</td><td> {{ user.name }} </td>
    <td rowspan="5" style="width: 60%;"><div id="logo"></div>
      <br>
      <p id="tagline">Son Goku Welcomes you User</p></td>
  </tr>
  <tr>  
    <td id="heading">User Id</td><td> {{ user.mobileNo }} </td>
  </tr>
  <tr>  
    <td id="heading">Age</td><td> {{ user.age }} </td>
  </tr>
  <tr>  
    <td id="heading">E-Mail</td><td> {{ user.email }} </td>
  </tr>
  <tr> 
    <td id="heading">Address</td><td> {{ user.address }} </td>
  </tr>
</table>

</div>