
table
{
    border-collapse: collapse;
    border: 1px solid black ;
    width: 100%;
    text-align: center;
    background-color: #ffffff;

    opacity: 0.8;
    filter: alpha(opacity=100);
    
}
th
{
    font-size: 25px;
    border-bottom: solid black;
    border-right: solid black;
    text-align: center;
}

td 
{
    border-bottom: solid black;
    border-right: solid black;
    text-align: center;
    font-size: 20px;
    
}

#btn1,#btn2
{
    border: 1px lightskyblue solid;
    background-color: black;
    color: white;
    margin-left: 2px;
    font-size: 15px;
}
#btn1:hover
{
    background-color: darkcyan;
}
#btn2:hover
{
    background-color: tomato;
}

#t1
{
    font-size: 18px;
    border: 1px lightskyblue solid;
    background-color: black;
    color: white;
}
#t1:hover
{
    background-color: lightskyblue;
}