<h1>Order Details</h1>

<table>
  <tr>
    <th>OrderID</th>
    <th>Date of booking</th>
    <th>From</th>
    <th>To</th>
    <th>CustomerID</th>
    <th>Approval</th>
    <th>Details</th>
  </tr> 

  <tr *ngFor="let detail of orders">
      <td>{{ detail.order_id }}</td>
      <td>{{ detail.date }}</td>
      <td>{{ detail.from }}</td>
      <td>{{ detail.to }}</td>
      <td>{{ detail.mobileNo }}</td>
      <td>
        <div *ngIf="detail.approval == 'Pending' " >
            <input type="button" value="Accept" (click)="changeStatus('Accepted' , detail.order_id)" >
            <input type="button" value="Reject" (click)="changeStatus('Rejected', detail.order_id )" >
        </div>
        <div *ngIf="detail.approval != 'Pending' " >
           {{ detail.approval }}
        </div>
      </td>
      <td ><button (click)="orderDetail(detail.orderId)"  class="btn btn-outline-primary" id="t1">Click Here</button></td>
  </tr>
</table>
