<h1>Order Details</h1>

<table>
  <tr>
    <th>OrderID</th>
    <th>Date of booking</th>
    <th>From</th>
    <th>To</th>
    <th>Customer</th>
    <th>CustomerID</th>
    <th>Approval</th>
    <th>Details</th>
  </tr> 
  <tr>
    <td>Xyz4512ABC</td>
    <td>24/03/2012</td>
    <td>Kerala</td>
    <td>Delhi</td>
    <td>Vishal Rawat</td>
    <td>2553</td>
    <td><input type="button" value="accept"><input type="button" value="decline"></td>
    <td><input type="button" value="Click"></td>
  </tr>
</table>

